@keyframes line-in {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes line-out {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
@keyframes line-in {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes line-in-out {
  0%,
  100% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
}

@keyframes damageTextAnimationIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  25% {
    opacity: 0.8;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes damageTextAnimationOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  25% {
    opacity: 0.8;
    transform: scale(1.2);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

.completed,
.not-completed {
  display: inline-block;
  position: relative;
}

.completed::after,
.not-completed::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--ion-text-color);
  top: 50%;
  left: 0;
  z-index: 1;
  opacity: 1;
}

.completed::after {
  animation: line-in 0.3s linear forwards;
}

.not-completed::after {
  animation: line-out 0.3s linear forwards;
}

.period::after {
  animation: line-in-out 0.3s linear forwards;
}

ion-modal {
  --height: --var(max-content, 100%);
  --border-radius: 16px;
}

ion-modal.sub-modal::part(backdrop) {
  z-index: 10;
  --backdrop-opacity: 0.3;
}

ion-title,
h1,
h2,
h3 {
  font-weight: bold;
}

.damage-text-in {
  animation: damageTextAnimationIn 0.7s ease-in forwards;
}

.damage-text-out {
  animation: damageTextAnimationOut 0.7s ease-out forwards;
}

ion-datetime-button::part(native) {
  color: var(--ion-color-secondary-contrast);
}

ion-modal.full-screen {
  --height: 100%;
  padding: 0;
  --border-radius: 0;
}