/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #ff6f61; /* Coral */
  --ion-color-primary-rgb: 255, 111, 97;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #e65a51;
  --ion-color-primary-tint: #ff8273;

  /** secondary **/
  --ion-color-secondary: #2bdbc6; /* Sea Green */
  --ion-color-secondary-rgb: 42, 157, 143;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #28a695;
  --ion-color-secondary-tint: #3ec5b1;

  /** tertiary **/
  --ion-color-tertiary: #f4a261; /* Peach */
  --ion-color-tertiary-rgb: 244, 162, 97;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #d89054;
  --ion-color-tertiary-tint: #f5b27d;

  /** success **/
  --ion-color-success: #64c1a0; /* Mint Green */
  --ion-color-success-rgb: 100, 193, 160;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #55a88d;
  --ion-color-success-tint: #76cca7;

  /** warning **/
  --ion-color-warning: #f4e04d; /* Lemon */
  --ion-color-warning-rgb: 244, 224, 77;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #d8c840;
  --ion-color-warning-tint: #f5e762;

  /** danger **/
  --ion-color-danger: #e63946; /* Crimson */
  --ion-color-danger-rgb: 230, 57, 70;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cc323f;
  --ion-color-danger-tint: #e85260;

  /** dark **/
  --ion-color-dark: #264653; /* Midnight Blue */
  --ion-color-dark-rgb: 38, 70, 83;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #20404b;
  --ion-color-dark-tint: #3b6b7c;

  /** medium **/
  --ion-color-medium: #8d99ae; /* Slate Gray */
  --ion-color-medium-rgb: 141, 153, 174;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #798897;
  --ion-color-medium-tint: #9da6b7;

  /** light **/
  --ion-color-light: #edf2f4; /* Soft White */
  --ion-color-light-rgb: 237, 242, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d4dadd;
  --ion-color-light-tint: #f0f5f7;

  --ion-background-color: #ffffff;
  --ion-text-color: #000000;
  --fade-background-rgb: var(--ion-color-light-rgb);
  --ion-color-step-300: var(--ion-color-primary);
}

.ion-palette-dark.ios,
.ion-palette-dark.md {
  --ion-color-primary: #ff9e80; /* Light Coral */
  --ion-color-primary-rgb: 255, 158, 128;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #e58b6d;
  --ion-color-primary-tint: #ffaf93;

  /** secondary **/
  --ion-color-secondary: #2bdbc6; /* Sea Green */
  --ion-color-secondary-rgb: 42, 157, 143;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #28a695;
  --ion-color-secondary-tint: #3ec5b1;

  --ion-color-tertiary: #f5b369; /* Bright Peach */
  --ion-color-tertiary-rgb: 245, 179, 105;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #d99a5e;
  --ion-color-tertiary-tint: #f7be82;

  --ion-color-success: #7dcea0; /* Light Mint Green */
  --ion-color-success-rgb: 125, 206, 160;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #6bb18a;
  --ion-color-success-tint: #8ed5b1;

  --ion-color-warning: #fff176; /* Pale Lemon */
  --ion-color-warning-rgb: 255, 241, 118;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e6d067;
  --ion-color-warning-tint: #fff488;

  --ion-color-danger: #f88379; /* Pale Crimson */
  --ion-color-danger-rgb: 248, 131, 121;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d66f68;
  --ion-color-danger-tint: #f99791;

  --ion-color-dark: #b0bec5; /* Soft Midnight Blue */
  --ion-color-dark-rgb: 176, 190, 197;
  --ion-color-dark-contrast: #000000;
  --ion-color-dark-contrast-rgb: 0, 0, 0;
  --ion-color-dark-shade: #98a6ac;
  --ion-color-dark-tint: #c2cbd1;

  --ion-color-medium: #90a4ae; /* Light Slate Gray */
  --ion-color-medium-rgb: 144, 164, 174;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #7c8e98;
  --ion-color-medium-tint: #a5b4bd;

  --ion-color-light: #37474f; /* Soft Charcoal */
  --ion-color-light-rgb: 55, 71, 79;
  --ion-color-light-contrast: #ffffff;
  --ion-color-light-contrast-rgb: 255, 255, 255;
  --ion-color-light-shade: #2d3941;
  --ion-color-light-tint: #4b5a63;

  --ion-text-color-step-150: #ffffff;
  --ion-background-color: #282c34;
  --ion-color-step-100: transparent;
  --wheel-fade-background-rgb: #ffffff;
  --ion-toolbar-background: #343a40;
  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */
  body {
    --ion-color-primary: #ff9e80; /* Light Coral */
    --ion-color-primary-rgb: 255, 158, 128;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #e58b6d;
    --ion-color-primary-tint: #ffaf93;

    --ion-color-secondary: #38b2ac; /* Bright Sea Green */
    --ion-color-secondary-rgb: 56, 178, 172;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #2c958f;
    --ion-color-secondary-tint: #55c4bc;

    --ion-color-tertiary: #f5b369; /* Bright Peach */
    --ion-color-tertiary-rgb: 245, 179, 105;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #d99a5e;
    --ion-color-tertiary-tint: #f7be82;

    --ion-color-success: #7dcea0; /* Light Mint Green */
    --ion-color-success-rgb: 125, 206, 160;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #6bb18a;
    --ion-color-success-tint: #8ed5b1;

    --ion-color-warning: #fff176; /* Pale Lemon */
    --ion-color-warning-rgb: 255, 241, 118;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e6d067;
    --ion-color-warning-tint: #fff488;

    --ion-color-danger: #f88379; /* Pale Crimson */
    --ion-color-danger-rgb: 248, 131, 121;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #d66f68;
    --ion-color-danger-tint: #f99791;

    --ion-color-dark: #b0bec5; /* Soft Midnight Blue */
    --ion-color-dark-rgb: 176, 190, 197;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0, 0, 0;
    --ion-color-dark-shade: #98a6ac;
    --ion-color-dark-tint: #c2cbd1;

    --ion-color-medium: #90a4ae; /* Light Slate Gray */
    --ion-color-medium-rgb: 144, 164, 174;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #7c8e98;
    --ion-color-medium-tint: #a5b4bd;

    --ion-color-light: #37474f; /* Soft Charcoal */
    --ion-color-light-rgb: 55, 71, 79;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255, 255, 255;
    --ion-color-light-shade: #2d3941;
    --ion-color-light-tint: #4b5a63;
  }
}


html {
  /* For more information on dynamic font scaling, visit the documentation: 
  https://ionicframework.com/docs/layout/dynamic-font-scaling */
  --ion-dynamic-font: var(--ion-default-dynamic-font);
}
