/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #6a1b9a; /* Amethyst */
  --ion-color-primary-rgb: 106, 27, 154;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #5c1790;
  --ion-color-primary-tint: #7b31b0;

  /** secondary **/
  --ion-color-secondary: #00897b; /* Teal */
  --ion-color-secondary-rgb: 0, 137, 123;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #00796b;
  --ion-color-secondary-tint: #009688;

  /** tertiary **/
  --ion-color-tertiary: #ad1457; /* Ruby */
  --ion-color-tertiary-rgb: 173, 20, 87;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #9c134e;
  --ion-color-tertiary-tint: #bc2c6d;

  /** success **/
  --ion-color-success: #388e3c; /* Forest Green */
  --ion-color-success-rgb: 56, 142, 60;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #2e7d32;
  --ion-color-success-tint: #41a047;

  /** warning **/
  --ion-color-warning: #f9a825; /* Sunflower */
  --ion-color-warning-rgb: 249, 168, 37;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #c17900;
  --ion-color-warning-tint: #fbc02d;

  /** danger **/
  --ion-color-danger: #d84315; /* Terra Cotta */
  --ion-color-danger-rgb: 216, 67, 21;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #bf360c;
  --ion-color-danger-tint: #e64a19;

  /** dark **/
  --ion-color-dark: #4e342e; /* Dark Brown */
  --ion-color-dark-rgb: 78, 52, 46;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #3e2723;
  --ion-color-dark-tint: #5d4037;

  /** medium **/
  --ion-color-medium: #6d4c41; /* Medium Brown */
  --ion-color-medium-rgb: 109, 76, 65;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #5d4037;
  --ion-color-medium-tint: #795548;

  /** light **/
  --ion-color-light: #efebe9; /* Light Gray */
  --ion-color-light-rgb: 239, 235, 233;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7ccc8;
  --ion-color-light-tint: #f5f5f5;

  --ion-background-color: #ffffff;
  --ion-text-color: #000000;
  --fade-background-rgb: var(--ion-color-light-rgb);
  --ion-color-step-300: var(--ion-color-primary);
}

.ion-palette-dark.ios,
.ion-palette-dark.md {
  --ion-color-primary: #8853d1; /* Deep Amethyst */
  --ion-color-primary-rgb: 136, 83, 209;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #7648ba;
  --ion-color-primary-tint: #9a67ea;

  --ion-color-secondary: #26a69a; /* Dark Teal */
  --ion-color-secondary-rgb: 38, 166, 154;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #1a8a8a;
  --ion-color-secondary-tint: #4db6ac;

  --ion-color-tertiary: #ab47bc; /* Rich Ruby */
  --ion-color-tertiary-rgb: 171, 71, 188;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #9a3ea5;
  --ion-color-tertiary-tint: #ba68c8;

  --ion-color-success: #66bb6a; /* Earth Green */
  --ion-color-success-rgb: 102, 187, 106;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #5ca563;
  --ion-color-success-tint: #81c784;

  --ion-color-warning: #ffa726; /* Sunset Orange */
  --ion-color-warning-rgb: 255, 167, 38;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #fb8c00;
  --ion-color-warning-tint: #ffb74d;

  --ion-color-danger: #ef5350; /* Fiery Red */
  --ion-color-danger-rgb: 239, 83, 80;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d32f2f;
  --ion-color-danger-tint: #e57373;

  --ion-color-dark: #bdbdbd; /* Soft Gray */
  --ion-color-dark-rgb: 189, 189, 189;
  --ion-color-dark-contrast: #000000;
  --ion-color-dark-contrast-rgb: 0, 0, 0;
  --ion-color-dark-shade: #8d8d8d;
  --ion-color-dark-tint: #d1d1d1;

  --ion-color-medium: #78909c; /* Cool Grey */
  --ion-color-medium-rgb: 120, 144, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #62757f;
  --ion-color-medium-tint: #90a4ae;

  --ion-color-light: #263238; /* Charcoal */
  --ion-color-light-rgb: 38, 50, 56;
  --ion-color-light-contrast: #ffffff;
  --ion-color-light-contrast-rgb: 255, 255, 255;
  --ion-color-light-shade: #1c313a;
  --ion-color-light-tint: #37474f;

  --ion-text-color-step-150: #fff;

  --ion-background-color: #342e42;
  --ion-color-step-100: transparent;
  --wheel-fade-background-rgb: #fff;

  --ion-text-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */
  body {
    --ion-color-primary: #b188eb; /* Deep Amethyst */
    --ion-color-primary-rgb: 136, 83, 209;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #8f63d1;
    --ion-color-primary-tint: #9e76df;

    --ion-color-secondary: #26a69a; /* Dark Teal */
    --ion-color-secondary-rgb: 38, 166, 154;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #1a8a8a;
    --ion-color-secondary-tint: #4db6ac;

    --ion-color-tertiary: #ab47bc; /* Rich Ruby */
    --ion-color-tertiary-rgb: 171, 71, 188;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #9a3ea5;
    --ion-color-tertiary-tint: #ba68c8;

    --ion-color-success: #66bb6a; /* Earth Green */
    --ion-color-success-rgb: 102, 187, 106;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #5ca563;
    --ion-color-success-tint: #81c784;

    --ion-color-warning: #ffa726; /* Sunset Orange */
    --ion-color-warning-rgb: 255, 167, 38;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #fb8c00;
    --ion-color-warning-tint: #ffb74d;

    --ion-color-danger: #ef5350; /* Fiery Red */
    --ion-color-danger-rgb: 239, 83, 80;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #d32f2f;
    --ion-color-danger-tint: #e57373;

    --ion-color-dark: #bdbdbd; /* Soft Gray */
    --ion-color-dark-rgb: 189, 189, 189;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0, 0, 0;
    --ion-color-dark-shade: #8d8d8d;
    --ion-color-dark-tint: #d1d1d1;

    --ion-color-medium: #78909c; /* Cool Grey */
    --ion-color-medium-rgb: 120, 144, 156;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #62757f;
    --ion-color-medium-tint: #90a4ae;

    --ion-color-light: #263238; /* Charcoal */
    --ion-color-light-rgb: 38, 50, 56;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255, 255, 255;
    --ion-color-light-shade: #1c313a;
    --ion-color-light-tint: #37474f;
  }
}

html {
  /* For more information on dynamic font scaling, visit the documentation: 
  https://ionicframework.com/docs/layout/dynamic-font-scaling */
  --ion-dynamic-font: var(--ion-default-dynamic-font);
}
