ion-list {
  --background: "#ffffff";
  border-radius: 8px;
}

ion-list > ion-item {
  --background: "#ffffff";
}

ion-card-title {
  align-items: center;
  display: flex;
}

ion-card-title > ion-label {
  flex: 1;
  height: max-content;
  justify-items: flex-start;
}

ion-chip {
  justify-items: flex-end;
  opacity: 1; 
  background:  rgba(var(--ion-color-base-rgb), 1);
  color: var(--ion-background-color);
}

ion-card-title > ion-chip.chip-disabled {
  justify-items: flex-end;
  opacity: 0.45;
}
